*{
    border: ;
    padding: 0;
    margin: 0;
    background-color: lack;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: white;
}


.class{
    text-align: center;
}

span{
    color: yellowgreen;
    font-size: 30px;
}

.logo{
    color: white;
    font-size: 30px;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: crimson;
   
}

nav ul{
    display: flex;
    gap: 30px;
}

nav ul li a{
    color: white;
}

